/* Style and layout for the index page */

/* Styling for the title and the map*/
#title-and-map{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2vh;
  margin-top:0;
  width:50vw;
}

#title-and-map h1{
  font-size:calc(4vw + 0.5em);
  font-weight:700;
}

#title-and-logo{
  display:flex;
  justify-content: center;
  align-items:center;
}

/* I found a website that calculates values that change a png image to a specific color
This is so that logo has a color that matches the website*/
#title-and-logo img{ 
  filter: invert(77%) sepia(8%) saturate(1849%) hue-rotate(177deg) brightness(96%) contrast(79%);
}

#map-container{
  height: 30rem;
  width: 30rem;
  outline: 5px solid #92B4DB;
  cursor: default;
}

/* The map was better with a fixed size so it doesn't 
have part missing on window resize.
Here's a couple media queries to adapt it to phones*/
@media screen and (max-width: 800px) {
  #map-container{
    height:20rem;
    width:20rem;
  }
}

@media screen and (max-width: 500px) {
  #map-container{
    height:15rem;
    width:15rem;
  }
  main{
    flex-direction: column;
  }
}

/* Style for navbar - the list of restaurants */
#navbar{
  font-size: calc(3vw + 0.5em);
  font-weight:700;
  padding-top: 1vh;
  padding-bottom: 1vh;
  /*This use of box-shadow was a way to get border on left and right only */
  box-shadow: 0px 5px 0px 0px #92B4DB, 0px -5px 0px 0px #92B4DB;
}

#navbar li {
  color: #EDAC92;
}

#navbar li:hover {
  cursor:pointer;
  color: #92B4DB;
}

