/* Style for the general layout of the pages */

@import url("https://fonts.googleapis.com/css2?family=Inspiration");

*{
  border: 1px solid red;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #FAFCFA;
  font-family: 'Inspiration', cursive;
  color: #EDAC92;
}

main {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10vw;
  line-height: 1.5;
  padding: 4em 1em;
}

