#overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0; /*The overlay covers the whole screen with TBLR properties of 0 and a position: fixed*/
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); /*A black color with an opacitity setting creates a "dim" effect */
  transition: opacity 500ms; 
}

#modal-background {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 5px solid #92B4DB;
  }
  
  #modal-content {
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vw;
    background-color: rgb(213, 230, 213,0.1);
  }

  #map-container{
    z-index: 1;
  }