/* Style for the general layout of the pages */

@import url("https://fonts.googleapis.com/css2?family=Inspiration");

html {
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fafcfa;
  font-family: "Inspiration", cursive;
  color: #edac92;
  letter-spacing: 0.3em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  gap: 10vw;
  line-height: 1.5;
}

/* The way it currently is, the markers 
don't need to be clicked, so the pointer is set back to a default
Also not sure why I needed it in index.css for it to actually register*/
.marker-icon {
  cursor: default;
}
.marker-resto-icon {
  cursor: grab;
}
